@model GameWebMVC.Models.InventoryModel
@{
    ViewBag.Title = "Inventár";
}

<div style="overflow:hidden; ">
    <input type="button" value="Kúpiť (500 k)" class="btn btn-success " style="margin: 10px 0; float: left;" onclick="location.href='@Url.Action("Buy")'" />
    <dl class="dl-horizontal" style="float: left; margin-top: 17px;">
        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money)
            @Html.ValidationMessageFor(model => model.Money, "", new { @class = "text-danger" })
        </dd>
    </dl>


</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Attack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Defense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Equipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.FirstOrDefault().ItemType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipped)
        </td>
        <td>
            @Html.DisplayName(item.ItemType.ToString())
        </td>
        <td>
            @Html.ActionLink("Nasadiť", "Equip", new { id = item.Id }) |
            @Html.ActionLink("Predať", "Sell", new { id = item.Id }) |
            @Html.ActionLink("Detail", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
