@model GameWebMVC.Models.FightModel

@{
    ViewBag.Title = "Súboj";
}
<style>
    .tableFight {
        width: 47.5%;
        float: left;
    }
    .tableOrder {
        width: 5%;
        float: left;
    }
</style>
<div class="wrapper">
    <div class="left">
        <div class="sign">
            <div class="position">Útočník</div>
            <div class="name text-warning">&nbsp;@Html.DisplayFor(model => model.Fight.Attacker.Name) &nbsp;</div>
            <div class="stats">
                <span class="stat-label">Útočníkova zbraň: </span>
                <span class="stat">@Html.DisplayFor(model => model.Fight.AttackerWeapon.Name)</span>
                <br>
                <span class="stat-label">Útočníkové brnenie: </span>
                <span class="stat">@Html.DisplayFor(model => model.Fight.AttackerArmor.Name)</span>
            </div>
        </div>
    </div>
    <div class="result">
        @if (Model.Fight.AttackSuccess)
        {
            <div class="text-success">@Html.DisplayName("Výhra")</div>
        }
        else
        {
            <div class="text-danger">@Html.DisplayName("Porážka")</div>
        }
    </div>
    <div class="right">
        <div class="sign">
            <div class="position">Obranca</div>
            <div class="name text-warning">&nbsp;@Html.DisplayFor(model => model.Fight.Defender.Name)&nbsp;</div>
            <div class="stats">
                <span class="stat-label">Obrancova zbraň: </span>
                <span class="stat">@Html.DisplayFor(model => model.Fight.DefenderWeapon.Name)</span>
                <br>
                <span class="stat-label">Obrancove brnenie: </span>
                <span class="stat">@Html.DisplayFor(model => model.Fight.DefenderArmor.Name)</span>
            </div>
        </div>
    </div>
</div>

@if (Model.Steps != null)
{
    <table class="table tableOrder">
        <tr>
            <th>
                <b>
                    Kolo
                </b>
            </th>
        </tr>

        @foreach (var item in Model.Steps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1)
                </td>
            </tr>
        }
    </table>

    <table class="table border-left tableFight">
        <tr>
            <th>
                HP Útočník
            </th>
            <th>
                Poškodenie Útočník
            </th>
            <th>
                Šťastie Útočník
            </th>
        </tr>

        @foreach (var item in Model.Steps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item6)
                </td>
            </tr>
        }
    </table>

    <table class="table border-left tableFight">
        <tr>
            <th>
                HP Obranca
            </th>
            <th>
                Poškodenie Obranca
            </th>
            <th>
                Šťastie Obranca
            </th>
        </tr>

        @foreach (var item in Model.Steps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item7)
                </td>
            </tr>
        }
    </table>
}

<div>
    <input type="button" value="Naspäť na postavu" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Character")'" />
    <input type="button" value="Naspäť na súboje" class="btn btn-primary" onclick="location.href='@Url.Action("List")'" />
</div>