@model BL.DTO.FightDto

@{
    ViewBag.Title = "Súboj";
}


<div class="wrapper">
    <div class="left">
        <div class="sign">
            <div class="position">Útočník</div>
            <div class="name text-warning">@Html.DisplayFor(model => model.Attacker.Name)</div>
            <div class="stats">
                <span class="stat-label">Útočníkova zbraň: </span>
                <span class="stat">@Html.DisplayFor(model => model.AttackerWeapon.Name)</span>
                <br>
                <span class="stat-label">Útočníkové brnenie: </span>
                <span class="stat">@Html.DisplayFor(model => model.AttackerArmor.Name)</span>
            </div>
        </div>
    </div>
    <div class="result">
        @if (Model.AttackSuccess)
        {
        <div class="text-success">@Html.DisplayName("Výhra")</div>
        }
        else
        {
        <div class="text-danger">@Html.DisplayName("Porážka")</div>
        }
    </div>
    <div class="right">
        <div class="sign">
            <div class="position">Obranca</div>
            <div class="name text-warning">@Html.DisplayFor(model => model.Defender.Name)</div>
            <div class="stats">
                <span class="stat-label">Obrancova zbraň: </span>
                <span class="stat">@Html.DisplayFor(model => model.DefenderWeapon.Name)</span>
                <br>
                <span class="stat-label">Obrancove brnenie: </span>
                <span class="stat">@Html.DisplayFor(model => model.DefenderArmor.Name)</span>
            </div>
        </div>
    </div>
</div>
<div>
    <input type="button" value="Naspäť na postavu" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Character")'" />
    <input type="button" value="Naspäť na súboje" class="btn btn-primary" onclick="location.href='@Url.Action("List")'" />
</div>