@model IEnumerable<BL.DTO.FightDto>

<input type="button" value="Útok" class="btn btn-success" style="margin: 10px 0;" onclick="location.href='@Url.Action("FightSelection")'" />

<table class="table">
    <tr>
        <th>
            Útočník
        </th>
        <th>
            Obranca
        </th>
        <th>
            Útočníkova zbraň
        </th>
        <th>
            Útočníkové brnenie
        </th>
        <th>
            Obrancova zbraň
        </th>
        <th>
            Obrancove brnenie
        </th>
        <th>
            Výsledok
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Attacker.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defender.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackerWeapon.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackerArmor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefenderWeapon.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefenderArmor.Name)
        </td>

        @if (item.AttackSuccess)
        {

            <td class="text-success">
                @Html.DisplayName("Výhra")
            </td>

        }
        else
        {
            <td class="text-danger">
                @Html.DisplayName("Porážka")
            </td>

        }
        <td>
            @Html.ActionLink("Detail", "Index", new { id = item.Id })
        </td>
    </tr>
    }

</table>
<div>
    <input type="button" value="Návrat na postavu" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Character")'" />
</div>
