@model IEnumerable<BL.DTO.AccountDto>

@{
    ViewBag.Title = "Zoznam účtov";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View</h2>

<p>
    <input type="button" value="Vytvoriť účet" class="btn btn-success" onclick="location.href='@Url.Action("AccountCreate")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordSalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.ActionLink("Upraviť", "AccountEdit", new { id = item.Id }) |
                @Html.ActionLink("Detail", "AccountDetails", new { id = item.Id }) |
                @Html.ActionLink("Zmazať", "AccountDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
