@model IEnumerable<BL.DTO.GroupDto>

@{
    ViewBag.Title = "Zoznam skupín";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Zoznam skupín</h2>

<p>
    <input type="button" value="Vytvoriť skupinu" class="btn btn-success" onclick="location.href='@Url.Action("GroupCreate")'" />
</p>
<table class="table">
    <tr>
        <th>
            Meno skupiny
        </th>
        <th>
            Obrázok
        </th>
        <th>
            Popis
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img class="clan-list-img" src="@Html.DisplayFor(modelItem => item.Picture)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Upraviť", "GroupEdit", new { id = item.Id }) <span>|</span>
                }
                @Html.ActionLink("Detail", "GroupDetails", new { id = item.Id })
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <span>|</span>
                    @Html.ActionLink("Zmazať", "GroupDelete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>