@model BL.DTO.AccountDto
@{
    ViewBag.Title = "Účet";
}
<div>
    <h2>@Model.Username</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="Upraviť" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = Model.Id }))'" />
</p>
