@model IEnumerable<BL.DTO.FightDto>

@{
    ViewBag.Title = "Súboje";
}

<h2>Súboje</h2>
<input type="button" value="Útok" class="btn btn-success" style="margin: 10px 0;" onclick="location.href='@Url.Action("FightSelection")'" />

<table class="table">
    <tr>
        <th>
            Typ
        </th>
        <th>
            Protivník
        </th>
        <th>
            Tvoja zbraň
        </th>
        <th>
            Tvoje brnenie
        </th>
        <th>
            Protivníkova zbraň
        </th>
        <th>
            Protivníkove brnenie
        </th>
        <th>
            Výsledok
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if(item.AttackerId == Guid.Parse(User.Identity.Name))
            {

                <td>
                    Útok
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Defender.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttackerWeapon.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttackerArmor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefenderWeapon.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefenderArmor.Name)
                </td>
            } else
            {
                <td>
                    Obrana
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attacker.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefenderWeapon.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefenderArmor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttackerWeapon.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttackerArmor.Name)
                </td>
            }

            @if (item.AttackSuccess && item.AttackerId == Guid.Parse(User.Identity.Name) || !item.AttackSuccess && item.DefenderId == Guid.Parse(User.Identity.Name))
            {

                <td class="text-success">
                    @Html.DisplayName("Výhra")
                </td>

            }
            else
            {
                <td class="text-danger">
                    @Html.DisplayName("Porážka")
                </td>

            }
            <td>
                @Html.ActionLink("Detail", "Index", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@{string disabled = "disabled";
    string active = "active";
    int prev = ViewBag.RequestedPageNumber - 1;
    int next = ViewBag.RequestedPageNumber + 1;
}
<nav aria-label="paging">
    <ul class="pagination">
        <li class="page-item @if (ViewBag.PageCount <= 1 || ViewBag.RequestedPageNumber <= 1) { @disabled;} ">
            <a class="page-link" href="?page=@prev">&laquo;</a>
        </li>
        @for (int page = 1; page <= ViewBag.PageCount; page++)
        {
            <li class="page-item @if (ViewBag.RequestedPageNumber == page){ @active } "><a class="page-link" href="?page=@page">@page</a></li>
        }

        <li class="page-item @if (ViewBag.PageCount <= 1 || ViewBag.RequestedPageNumber >= ViewBag.PageCount) { @disabled;}">
            <a class="page-link " href="?page=@next">&raquo;</a>
        </li>
    </ul>
</nav>

<div>
    <input type="button" value="Návrat na postavu" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Character")'" />
</div>