@model BL.DTO.ChatDto

@{
    ViewBag.Title = "Chat";
}

<div class="mb-3">
    <h2 style="float:left">@Model.Subject</h2>
    <h5 style="float:right">@(Model.SenderId == Guid.Parse(User.Identity.Name) ? Model.Receiver?.Name : Model.Sender?.Name)</h5>
</div>

<div style="height:60vh; overflow:auto" class="chatwindow nicescroll border border-dark p-2 float-left mw-100 w-100">
    <table class="table">

        @foreach (var item in Model.Messages)
        {
            <tr>
                <td style="border-top:none; padding:5px;">
                    <span data-toggle="tooltip" data-placement="top" title="@Html.DisplayFor(modelItem => item.Timestamp)" class=" card @(item.AuthorId == Guid.Parse(User.Identity.Name) ? "float-right  border-success" : "float-left border-danger" )" style=" padding:7px">
                        @Html.DisplayFor(modelItem => item.Text)
                    </span>
                </td>
            </tr>
        }
    </table>
</div>

<div class="mt-2 mb-2 float-left w-100" style="clear:both">

    @if (Model.SenderId.HasValue && Model.ReceiverId.HasValue){
        Html.RenderPartial("Reply", new BL.DTO.MessageDto
        {
            ChatId = Model.Id,
            AuthorId = Guid.Parse(User.Identity.Name),
        });
    }
</div>

<div class="float-left" style="clear:both">
    <input type="button" value="Naspäť" class="btn btn-primary" onclick="location.href='@Url.Action("Mailbox")'" />
</div>

@Scripts.Render("~/bundles/scroll")

<script>
    var d = $('.chatwindow');
    d.scrollTop(d.prop("scrollHeight"));
    $(".nicescroll").niceScroll();
</script>