@model BL.DTO.ChatDto

@{
    ViewBag.Title = "Chat";
}

<h2>@Model.Subject</h2>

<div>
    <input type="button" value="Odpovedať" class="btn btn-success" style="margin: 10px 0;" onclick="location.href='@Url.Action("Reply", new { chatId = Model.Id })'" />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Author.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Messages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
    </tr>
}

</table>
<div>
    <input type="button" value="Naspäť" class="btn btn-primary" onclick="location.href='@Url.Action("Mailbox")'" />
</div>