@model BL.DTO.ChatDto

@{
    ViewBag.Title = "Chat";
}

<div >
    <h2 style="float:left">@Model.Subject</h2>
    <h5 style="float:right">@(Model.SenderId == Guid.Parse(User.Identity.Name) ? Model.Sender.Name : Model.Receiver.Name)</h5>
</div>

<div style="height:60vh; overflow:auto" class="chatwindow">
    <table class="table" >

        @foreach (var item in Model.Messages)
        {
            <tr>
                <td style="border-top:none; padding:5px;">
                    <span data-toggle="tooltip" data-placement="top" title="@Html.DisplayFor(modelItem => item.Timestamp)" class="@(item.AuthorId == Guid.Parse(User.Identity.Name) ? "float-right  border-success card" : "float-left border-danger    card" )" style=" padding:7px; ">
                        @Html.DisplayFor(modelItem => item.Text)
                    </span>
                </td>
            </tr>
        }

    </table>
</div>


<div style="margin-top:20px">


    @{
        Html.RenderPartial("Reply", new BL.DTO.MessageDto
        {
            ChatId = Model.Id,
            AuthorId = Guid.Parse(User.Identity.Name),
        });
    }

</div>

<div>
    <input type="button" value="Naspäť" class="btn btn-primary" onclick="location.href='@Url.Action("Mailbox")'"  />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var d = $('.chatwindow');
    d.scrollTop(d.prop("scrollHeight"));
</script>