@model IEnumerable<BL.DTO.ChatDto>

@{
    ViewBag.Title = "Správy";
}

<h2>Správy</h2>

<div>
<input type="button" value="Nová konverzácia" class="btn btn-success" style="margin: 10px 0;" onclick="location.href='@Url.Action("NewChat")'" />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastMessageTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMessageTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.Name)
            </td>
            <td>
                @Html.ActionLink("Správy", "Chat", new { id = item.Id })
            </td>
        </tr>
    }

</table>

