@model IEnumerable<BL.DTO.GroupDto>

<h2>Zoznam skupín</h2>

<p>
    <input type="button" value="Vytvoriť skupinu" class="btn btn-success" onclick="location.href='@Url.Action("Create")'" />
</p>
<table class="table">
    <tr>
        <th>
            Meno skupiny
        </th>
        <th>
            Obrázok
        </th>
        <th>
            Popis
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img class="clan-list-img" src="@Html.DisplayFor(modelItem => item.Picture)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Upraviť", "Edit", new { id = item.Id }) <span>|</span>
            }
            @Html.ActionLink("Detail", "Details", new { id = item.Id })
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            { 
                <span>|</span>
                @Html.ActionLink("Zmazať", "Delete", new { id = item.Id })
            }
        </td>
            </tr>
        }

        </table>
